.card{
    margin: 0 2% !important;
}
@media (max-width: 770px) {
    .card{
        margin: 2% 0 !important;
    }
}
.Infected{
    border-bottom: 10px solid rgb(0, 0, 255, 0.5);
}
.Recovered{
    border-bottom: 10px solid rgb(0, 255, 0, 0.5);
}
.Deceased{
    border-bottom: 10px solid rgb(255, 0, 0, 0.5);
}